
.body{
    background: rgb(255, 255, 255);
    text-align: center;
    
}

.container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(18, 18, 84);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

h1{
    font-size: x-large;
    text-align: center;
    color: rgb(89, 36, 89)
}

label{
    margin-bottom: 5px;
    text-align: left;
    color: rgb(74, 60, 60);
    font-weight: bold;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 12px;
}

input[type="radio"] {
    display: inline;
    width: 10%;
    
}

select{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
    border: 2px solid;
}

button {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    color: aliceblue;
    cursor: pointer;
    background-color: rgb(62, 40, 83);
    width: 40%;
    font-size: 16px;
}

button:hover {
    background-color: rgb(38, 6, 38);
}



.staff-aside{
    background-color: blueviolet;
    display: inline-block;
    width: 20%;
    height: 100vh;
    
}

nav {
    width: 100%;
    
}


h3{
    display: flex;
    justify-content: center;

}

.login-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 99.7%;    
}



.main-container {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}

.staff-aside {
    flex: 1;
    height: auto;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(18, 18, 84);
    font-size: calc(0.1rem + 2vw);
    text-align: center;
    color: ghostwhite;
    overflow-y: auto;
}

.staff-aside > div {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
    display: flex;
    justify-content: space-evenly;
    color: black;
    box-shadow: inset 0 0 20px rgb(18, 18, 84);
}

.tasks {
    font-size: calc(0.2rem + 2vw);
    flex: 1;
    height: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(18, 18, 84);
    text-align: center;
    color: ghostwhite;
    overflow-y: auto;
}

.tasks > div {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-evenly;
    box-shadow: inset 0 0 20px rgb(18, 18, 84);
}


.my-tasks {
    font-size: calc(0.2rem + 2vw);
    flex: 1;
    height: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(18, 18, 84);
    text-align: center;
    color: ghostwhite;
    overflow-y: auto;
}

.my-tasks > div {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(255, 174, 0);
    display: flex;
    justify-content: space-evenly;
    box-shadow: inset 0 0 20px rgb(18, 18, 84);
}

.done {
    font-size: calc(0.2rem + 2vw);
    flex: 1;
    height: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(18, 18, 84);
    text-align: center;
    color: ghostwhite;
    overflow-y: auto;
}

.done > div {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(16, 136, 0);
    display: flex;
    justify-content: space-evenly;
    box-shadow: inset 0 0 20px rgb(18, 18, 84);
}

.login-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

h3 {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: calc(1rem + 2vw);
    margin-top: 10px;
    text-align: center;
}

.project-name {
    font-size: 2rem;
    text-align: center;
    color: rgb(89, 36, 89);
    border: 3px solid;
    border-radius: 30px;
    padding: 5px;
    text-decoration: chartreuse;
}

.tasks-header{
    font-size: calc(0.5rem + 2vw);
    text-align: center;
    color: rgb(255, 0, 0);
}

.my-tasks-header{
    font-size: calc(0.5rem + 2vw);
    text-align: center;
    color: rgb(255, 179, 0);
}


.done-header {
    font-size: calc(0.5rem + 2vw);
    text-align: center;
    color: rgb(53, 200, 0);
}


.task-item {
    cursor: grab;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .task-item:focus {
    outline: 2px solid #007bff;
  }
  
  .task-item:active {
    cursor: grabbing;
  }

  .add-task-button {
    margin: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-task-button:hover {
    background-color: #0056b3;
  }